.title
 text-align: center
 margin-top: 1em
 margin-bottom: 1em
 font-size: 2em


.card
 top: 3em
 width: 18em

.btn
 margin-bottom: 2em


#formulario
 margin-bottom: 2em

.card
 box-shadow: 2px 2px 5px #999