<div class="container card">
    <h4 class="title description container">Login</h4>
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()" id="login-form" action="" method="post">
        <div class="forms">

            <div id="formulario">
                <label class="description" for="">Nombre</label>
                <input autocomplete="off" type="text " name="username" formControlName="username" class="form-control ">
                <div *ngIf="loginForm.get('username').invalid 
                && (loginForm.get('username').dirty || loginForm.get('username').touched )
                ">
                    <div *ngIf="loginForm.get('username').errors.required">
                        <p class="validations">Este campo es requerido</p>
                    </div>
                </div>


            </div>
            <div id="formulario">
                <label class="description" for="InputPassword1">Contraseña</label>
                <input type="password" name="password" formControlName="password" for="InputPassword1"
                    class="form-control ">
                <div *ngIf="loginForm.get('password').invalid 
                && (loginForm.get('password').dirty || loginForm.get('password').touched )
                ">
                    <div *ngIf="loginForm.get('password').errors.required">
                        <p class="validations">Este campo es requerido</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group form-check">
            <input autocomplete="off" type="checkbox" class="form-check-input" formControlName="rememberMe"
                name="rememberMe" id="Check1">
            <label class="form-check-label" for="Check1">Recordar</label>
        </div>
        <button type="submit" name="submit" [disabled]="loginForm.invalid"
            class="btn btn-success description">Ingresar</button>
    </form>
</div>