<h2>Update</h2>

<p>{{bike | json}}</p>


<h1>Update Bike</h1>


<form [formGroup]="bikeFormUpdateGroup" novalidate (ngSubmit)="updateBike()" >


<div>
    <label for="">Model</label>
    <input formControlName="model" type="text" name="model" >
    <div  *ngIf="bikeFormUpdateGroup.get('model').invalid 
    && (bikeFormUpdateGroup.get('model').dirty || bikeFormUpdateGroup.get('model').touched )
    " >
            <div *ngIf="bikeFormUpdateGroup.get('model').errors.required">
                <p class="validations">Este campo es requerido</p>
            </div>
            <div *ngIf="bikeFormUpdateGroup.get('model').errors.minlength" >
                <p class="validations">Este campo debe contener mínimo 2 caracteres</p>
            </div>
            <div *ngIf="bikeFormUpdateGroup.get('model').errors.maxlength">
                <p class="validations">Este campo debe contener como máximo 5 caracteres</p>
            </div>
           
          
    </div>
</div>
<div>
    <label for="">Price</label>
    <input formControlName="price" type="text" name="price" >
</div>
<div>
    <label for="">Serial</label>
    <input formControlName="serial" type="text" name="serial" >
</div>

<button type="submit" [disabled]="bikeFormUpdateGroup.invalid" >Guardar</button>

</form>