<div class="container">

    <h2>Hello Bikes</h2>

    <div class="search">

        <form [formGroup]="searchForm" (ngSubmit)="filterData()">
            <label for="">Serial</label>
            <input type="text" formControlName="serial">
            <label for="">Model</label>
            <input type="text" formControlName="model">
            <button type="submit">Filtrar</button>
        </form>
        <div class="alert" *ngIf="existData">
            <p>No existen datos</p>
        </div>
        <div *ngIf="bike">
            <h4>Data</h4>
            {{bike.model}} -
            {{bike.price}} -

            {{bike.serial}}

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" (click)="toggleButtonShowForm = !toggleButtonShowForm" class="btn btn-primary">Nuevo
                llamado de atencion</button>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-8">

            <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Serial</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of bikeList">
                        <td scope="row">{{ item.id }}</td>
                        <td>{{ item.model }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.serial }}</td>
                        <td>
                            <p-inputSwitch (onChange)="changeStatusBike(item)" name="status" [(ngModel)]="item.status">
                            </p-inputSwitch>

                            <h5 *ngIf="item.status">ABIERTO</h5>
                            <h5 *ngIf="!item.status">CERRADO</h5>
                        </td>
                        <td>
                            <a class="btn btn-xs btn-success" [routerLink]="['../bikes-update',item.id]">Actualizar</a>
                            <a class="btn btn-xs btn-danger" (click)="deleteItem(item.id)">Eliminar</a>
                            <button (click)="loadComponentUpdate(item.id)" class="btn btn-xs btn-primary"
                                [disabled]="!item.status">Diligenciar llamado de atencion</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="row justify-content-lg-center">
                <div class="col-lg-6">
                    <a class="btn btn-light btn-xs" (click)="initQueryPages(i)"
                        *ngFor="let item of listPages; index as i">{{i+1}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div *ngIf="toggleButtonShowForm">
                <div class="card border-primary">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nuevo llamado de atención</h4>
                

                        <form >
                            <div class="form-group">
                                <label for=""></label>
                                <textarea cols="20" rows="5" type="text" name="" id="" class="form-control" placeholder=""
                                    aria-describedby="helpId"> </textarea>
                            </div>
                            <div class="form-group">
                                <label for=""></label>
                                <textarea cols="20" rows="5"  type="text" name="" id="" class="form-control" placeholder=""
                                    aria-describedby="helpId"> </textarea>
                            </div>
                            
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>