<nav>
    <ul class="nav flex-column">
    <li class="nav-item" *appHasAnyAuthority="'ROLE_ADMIN'">
        <a  class="nav-link activate"  [routerLink]="['/bikes']">Bikes</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link activate" [routerLink]="['/sales']">Sales</a>
    </li>0
    <li class="nav-item">
        <a  class="nav-link "href="#">Link</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link disable" href="#" tabindex=".1" aria-disabled="true">Disabled</a>
    </li>
    </ul>
</nav>







<button><a class="btn btn-xs btn-success" [routerLink]="['../dashboard/bikes']">BIKES</a></button>
<button><a class="btn btn-xs btn-success" [routerLink]="['../dashboard/sales']">SALES</a></button>