<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
          

        </div>
        <div class="col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>